$colores:(
    primario:rgb(77, 22, 22),
    secundario:rgb(247, 218, 131),
);

$justify:(
    start:start,
    center:center,
    end:end,
    around:space-around,
    evenly:space-evenly,
    between:space-between
);

$Primario:(
    rgb(77, 22, 22),
);
$Secundario:(
    rgb(247, 218, 131),
);


$redes:(
    instagram:rgb(163, 10, 92),
    facebook:rgb(21, 25, 215),
    twitter:rgb(11, 162, 182),
);